<ul class="nav navbar-nav navbar-right">
													<li><a class="page-scroll smooth-scroll" href="#home">Home</a></li>
													<li><a class="page-scroll smooth-scroll" href="#about">About Us</a></li>
													<li><a class="page-scroll smooth-scroll" href="#portfolio">Portfolio</a></li>
													<li><a class="page-scroll smooth-scroll" href="#features">Features</a></li>
													<!-- <li><a class="page-scroll smooth-scroll" href="#whyUs">Why Us?</a></li>		 -->											
													<li><a class="page-scroll smooth-scroll"  href="#contact">Contact Us</a></li>
												</ul>